@model SchoolManagementSystem.Models.Ders

@{
    ViewData["Title"] = "DERS EKLE";
}

<br />
<center>
    <h1>DERS EKLE</h1><hr />
    <br /><br />
</center>

<div class="content">
    <div class="row" style="margin-left:500px; ">
    <div class="col-md-4">
        <form asp-action="Ekle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Ad" class="control-label">DERS ADI</label>
                <input asp-for="Ad" class="form-control" />
                <span asp-validation-for="Ad" class="text-danger"></span>
                </div><br />
            <div class="form-group">
                <label asp-for="Kredisi" class="control-label">KREDİSİ</label>
                <input asp-for="Kredisi" class="form-control" />
                <span asp-validation-for="Kredisi" class="text-danger"></span>
                </div><br />
            <div class="form-group">
                <label asp-for="OkulYonetimDef.AdSoyad" class="control-label">DERSİN ÖĞRETMENİ</label>
                    <input asp-for="OkulYonetimDef.AdSoyad" class="form-control" />
                    <span asp-validation-for="OkulYonetimDef.AdSoyad" class="text-danger"></span>
                </div><br />
                <center>
            <div class="form-group">
                <input type="submit" value="EKLE" class="btn btn-primary" />
                </div>
                </center><br />
        </form>
    </div>
</div>

    <center>
        <div>
            
            <a href="/Ders/Index"><input type="submit" class="btn btn-primary" value="Listeleme Sayfasına Dön" /></a>
        </div>
    </center>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
