@{
    ViewData["Title"] = "OKUL İDARE SİSTEMİ";
}

<center>
    <br /><br /><div class="containerr">
        <img style="height:700px; width:1200px;" src="~/images/e3e4b66dab3d43b5b4a93ba63e750cd0.jpg" />
        <div class="textt-block">
            <center>
                <br />
                <h4>ASP.NET MVC NEDİR?</h4>
                <p>ASP.NET Core MVC, Model-View-Controller tasarım desenini kullanarak web uygulamaları ve API'ler oluşturmaya yönelik zengin bir çerçevedir.</p>
                <h4>ENTİTY FRAMEWORK NEDİR?</h4>
                <p>Entity framework veri tabanı üzerinden nesne kullanımı sağlama olarak ifade edilmektedir. Özellikle SQL sorgularını herhangi bir tanımlama ya da yazma işlemine gerek kalmasından kurtarmaktadır. Sorunsuz cihaz çalışma sistemleri de bu veri taban düzeni ile birlikte oluşmaktadır.</p>
            </center>
        </div>
    </div>
</center>